# Config
config/config.ts
.env
*.env
Procfile
release.config.js

# NPM & dependencies
node_modules
npm-debug.log
.cache

# Ignoring all markdown files
*.md

# Github
.git
.github
.gitattributes
.gitignore
.gitkeep

# Docker
Dockerfile
*.Dockerfile
docker-compose.yml

# Linter files
.markdownlint.json
.eslintrc.json

# Etc
LICENSE
linter-output.txt
.env.example