/.github
/.vscode
/dist
/logs
/node_modules

/.dockerignore
/.editorconfig
/*.env*
/!.env.example
/.gitattributes
/.gitignore
/.prettierrc.js
/compose.yaml
/config-docker.example.yaml
/config.example.yaml
/config.yaml
/Dockerfile
/eslint.config.mjs
/LICENSE

*.md
**/*.md
**/*.log
